In [7]:
fruits = [['apple', 'orange', 'banana', 'pineapple', 'grapes'],
          ['orange', 'grapes', 'apple'],
          ['banana'],
          ['grapes', 'pineapple', 'kiwi', 'apple'],
          ['kiwi', 'orange', 'apple'],
          ['orange', 'banana'],
          ['apple', 'orange', 'kiwi', 'watermelon', 'lemon'],
          ['lemon', 'melon', 'banana', 'grapes']]

In [8]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(fruits).transform(fruits)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   apple  banana  grapes   kiwi  lemon  melon  orange  pineapple  watermelon
0   True    True    True  False  False  False    True       True       False
1   True   False    True  False  False  False    True      False       False
2  False    True   False  False  False  False   False      False       False
3   True   False    True   True  False  False   False       True       False
4   True   False   False   True  False  False    True      False       False
5  False    True   False  False  False  False    True      False       False
6   True   False   False   True   True  False    True      False        True
7  False    True    True  False   True   True   False      False       False

In [9]:
from mlxtend.frequent_patterns import apriori

apriori(df)

   support itemsets
0    0.625      (0)
1    0.500      (1)
2    0.500      (2)
3    0.625      (6)
4    0.500   (0, 6)

In [10]:
apriori(df, use_colnames=True)

   support         itemsets
0    0.625          (apple)
1    0.500         (banana)
2    0.500         (grapes)
3    0.625         (orange)
4    0.500  (apple, orange)

In [12]:
frequent_itemsets = apriori(df, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support         itemsets  length
0    0.625          (apple)       1
1    0.500         (banana)       1
2    0.500         (grapes)       1
3    0.625         (orange)       1
4    0.500  (apple, orange)       2

In [14]:
frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.6) ]

   support  itemsets  length
0    0.625   (apple)       1
3    0.625  (orange)       1

In [15]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'apple'} ]

   support itemsets  length
0    0.625  (apple)       1

In [18]:
oht_ary = te.fit(fruits).transform(fruits, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)
sparse_df

   apple  banana  grapes  kiwi  lemon  melon  orange  pineapple  watermelon
0      1       1       1     0      0      0       1          1           0
1      1       0       1     0      0      0       1          0           0
2      0       1       0     0      0      0       0          0           0
3      1       0       1     1      0      0       0          1           0
4      1       0       0     1      0      0       1          0           0
5      0       1       0     0      0      0       1          0           0
6      1       0       0     1      1      0       1          0           1
7      0       1       1     0      1      1       0          0           0

In [20]:
apriori(sparse_df, min_support=0.6, use_colnames=True)

   support  itemsets
0    0.625   (apple)
1    0.625  (orange)